[user]
	name = Noah Baldwin
	email = {{ .email | quote }}
[core]
	editor = nvim
	excludesFile = ~/.gitignore
[rerere]
	enabled = true
	autoUpdate = true
[branch]
	sort = -committerdate
[column]
	ui = auto
